---
ansible_python_interpreter: "/usr/bin/env python3"


# Merge or Relpace configuration
replace_config: '1'

# Local user accounts 
users:
    - name: admin
      secret: cisco123
    - name: nso
      secret: cisco123

#Management Network GW address
management_gw: 198.18.200.1

# Define IGP type
# test123
igp: 'isis'

# Evaluate if unnumbered interface option should be considered in dataplane / network_interfaces hostvar
unnumbered_interfaces: 'true'

# IGP Authentication
Auth: false

# Authenticaion Key String
key: cisco

# Enable ipv6 
ipv6: 'true'

# Enable SR
sr: 'true'

# Enable SR Performance Monitoring
sr_pm: 'true'

# Enable rLFA if LDP is enabled or TILFA if SR is enabled
lfa: 'true'

#enable LDP
mpls_ldp: 'false'

#enable rsvp
mpls_rsvp: 'false'

# Enable MPLS Traffic Engineering
mpls_te: 'false'

# enable ldp over mpls traffic engineering tunnels
ldp_over_mplste: 'false'

#telemetry 
telemetry_enable: 'true'

# PCE ip address
pce_address: 1.1.1.20

#EPN Manager Server for logging and snmptraps
epnm_server: 198.18.201.11

# Crosswork Data Gateway Virtual IP
cwdg: 198.18.201.30

# Telemetry Configuration
telemetry_server: 198.18.201.18
grpc_port: 57500

# Define Segment Routing Global Block
xr_srgb_start: 100000
xr_srgb_end: 116767
xe_srgb_start: 16000
xe_srgb_end: 32767

# Define Infra addresses
primary_dns_server: '198.18.133.1'
primary_ntp_server: '198.18.128.1'
secondary_ntp_server:

# Radius Server information
radius_server: 198.18.201.13
radius_auth_port: 1812
radius_acct_port: 1813

# Access Domain unless defined by group
AccDom: 100

# Prefix for Infrastructure Loopbacks unless defined by grou
loopbackPrefix: 1.1.
loopbackCidr: /32

# IPv6 prefix
ipv6_prefix: 2001

# prefix for P2P addresses
interconnect_range: 10

