---
- name: Configure Baseconfig Dataplane and IGP for all devices
  hosts: all
  gather_facts: no
  connection: local

  roles:
  - baseconf
  - Data Plane
  - IGP

- name: Configure Provider Edge
  hosts: ProviderEdge
  gather_facts: no
  connection: local

  roles:
  - LDP
  - BGP
  - SR-MPLS
  - SR-TE
  - SR-PM
  - MPLS_TE
  - PCE

- name: Configure Access
  hosts: Access
  gather_facts: no
  connection: local

  roles:
  - LDP
  - BGP
  - SR-MPLS
  - SR-TE
  - SR-PM
  - MPLS_TE
  - PCE

- name: Configure Core
  hosts: Core
  gather_facts: no
  connection: local

  roles:
  - LDP
  - SR-MPLS
  - SR-TE
  - SR-PM
  - MPLS_TE

- name: Configure Routed Optical Nodes
  hosts: Routed_Optical
  gather_facts: no
  connection: local
  
  roles:
  - LDP
  - BGP
  - SR-MPLS
  - SR-TE
  - SR-PM
  - MPLS_TE
  - PCE

- name: Configure SR PCE
  hosts: PCE
  gather_facts: no
  connection: local

  roles:
  - PCE

- name: Configure Route Reflectors
  hosts: VRR
  gather_facts: no
  connection: local

  roles:
  - BGP