---
- name: Configure Provider Edge
  hosts: ProviderEdge
  gather_facts: no
  connection: local

  roles:
  - baseconf
  - Data Plane
  - IGP
  - LDP
  - BGP
  - SR-MPLS
  - SR-TE
  - PCE
  - MPLS_TE

- name: Configure Access
  hosts: Access
  gather_facts: no
  connection: local

  roles:
  - baseconf
  - Data Plane
  - IGP
  - LDP
  - BGP
  - SR-MPLS
  - SR-TE
  - PCE
  - MPLS_TE

- name: Configure Core
  hosts: Core
  gather_facts: no
  connection: local

  roles:
  - baseconf
  - Data Plane
  - IGP
  - LDP
  - SR-MPLS
  - MPLS_TE

- name: Configure Routed Optical Nodes
  hosts: Routed_Optical
  gather_facts: no
  connection: local
  
  roles:
  - baseconf
  - Data Plane
  - IGP
  - LDP
  - SR-MPLS
  - MPLS_TE

- name: Configure ASBR
  hosts: ASBR
  gather_facts: no
  connection: local

  roles:
  - baseconf
  - Data Plane
  - IGP
  - LDP
  - SR-MPLS
  - MPLS_TE

#- name: Configure SR PCE
#  hosts: PCE
#  gather_facts: no
#  connection: local
#
#  roles:
#  - baseconf
#  - Data Plane
#  - IGP
#  - BGP
#  - PCE
