{% for interface in network_interfaces %}
interface {{ interface.name }}
  description *** To {{ interface.descr }} ***
  mtu {{interface.mtu}}
{% if interface.vlan != 0 %}
  encapsulation dot1q {{ interface.vlan }}
{% endif %}
{% if unnumbered_interfaces == 'true' and interface.unnumbered == true %}
  ipv4 point-to-point
  ipv4 unnumbered Loopback0  
{% else %}
  ipv4 address {{ interface.ipv4 }} {{ interface.mask }}
{% if ipv6 == 'true' %}
  ipv6 address {{ ipv6_prefix }}::{{ interface.ipv6 }}
{% endif %}
{% endif %}
  load-interval 30
  dampening
  no shutdown
!
{% endfor %}
!
{% for interface in client_interfaces if interface.enable %}
interface {{ interface.name }}
  description *** To {{ interface.descr }} ***
  mtu {{ interface.mtu }}
  ipv4 address {{ interface.ipv4 }} {{ interface.mask }}
  no shutdown
!
{% endfor %}
{% for bundle in bundle_members if bundle.enable %}
!
interface {{ bundle.member }}
 description {{ bundle.descr }}
 bundle id {{ bundle.id }} mode on
 no shutdown
!
{% endfor %}