{% if inventory_hostname in groups['ABR'] %}
interface Loopback{{AccDom}}
 description Anycast Address
 ipv4 address {{AccDom}}.{{AccDom}}.{{AccDom}}.12 255.255.255.255

router isis Core
 interface Loopback{{AccDom}}
  address-family ipv4 unicast
   prefix-sid index 1{{AccDom}} n-flag-clear
router isis ACCESS
 interface Loopback{{AccDom}}
  address-family ipv4 unicast
   prefix-sid index 1{{AccDom}} n-flag-clear
{% endif %}