id: 21
os: iosxr
napalm_driver: iosxr_netconf
xr_7: false
management_int: 0/RP0/CPU0/0
management_ip: 198.18.200.21
management_prefix: /24
max_sid_depth: 6
asn: 65000
bgp_rrc: true
bgp_rr: false

isis_instances:
  - {name: RTP_LAB, id: 1, sr: true, tilfa: true}

optics:
  - {enable: false}

network_interfaces:
  - {name: HundredGigE0/0/0/0, descr: "RBB.NCS540.13 HundredGigE0/0/1/1", vlan: 0, isis_inst: RTP_LAB, color: RED, igp_metric: 200, te_metric: 120, ipv4: 10.13.21.1, mask: 255.255.255.254, ipv6: '10:13:21:1/127', mtu: 9192}
  - {name: HundredGigE0/0/0/1, descr: "RBB.NCS5504.24 HundredGigE0/0/2/0", vlan: 0, isis_inst: RTP_LAB, color: RED, igp_metric: 200, te_metric: 120, ipv4: 10.21.24.0, mask: 255.255.255.254, ipv6: '10:21:24:0/127', mtu: 9192}
  - {name: HundredGigE0/0/0/2.1002, descr: "RBB.vRR-SR-PCE.50 Gig 0/0/0/0.1000", vlan: 1000, isis_inst: RTP_LAB, color: RED, igp_metric: 200, te_metric: 120, ipv4: 10.21.50.0, mask: 255.255.255.254, ipv6: '10:21:50:0/127', mtu: 9192}
  - {name: HundredGigE0/0/0/2.1003, descr: "RBB.vRR-SR-PCE.51 Gig 0/0/0/0.1001", vlan: 1001, isis_inst: RTP_LAB, color: RED, igp_metric: 200, te_metric: 120, ipv4: 10.21.51.0, mask: 255.255.255.254, ipv6: '10:21:51:0/127', mtu: 9192}
  - {name: FourHundredGigE0/0/1/0, descr: "RBB.ASR9903.20 FourHundredGigE0/0/1/0", vlan: 0, isis_inst: RTP_LAB, color: RED, igp_metric: 50, te_metric: 120, ipv4: 10.20.21.1, mask: 255.255.255.254, ipv6: '10:20:21:1/127', mtu: 9192}
  - {name: FourHundredGigE0/0/1/4, descr: "RBB.8201.102 FourHundredGigE0/0/0/4", vlan: 0, isis_inst: RTP_LAB, color: RED, igp_metric: 50, te_metric: 120, ipv4: 10.21.102.0, mask: 255.255.255.254, ipv6: '10:21:102:0/127', mtu: 9192}
  - {name: FourHundredGigE0/0/1/8, descr: "RBB.8201.103 FourHundredGigE0/0/0/1", vlan: 0, isis_inst: RTP_LAB, color: RED, igp_metric: 50, te_metric: 120, ipv4: 10.21.103.0, mask: 255.255.255.254, ipv6: '10:21:103:0/127', mtu: 9192}

client_interfaces:
  - {enable: False}

bundle_members:
  - {enable: False}

breakout:
  - {enable: true, location: 0/0/CPU0, bay: 1, port: 0, mode: 1xFourHundredGigE}
  - {enable: true, location: 0/0/CPU0, bay: 1, port: 4, mode: 1xFourHundredGigE}
  - {enable: true, location: 0/0/CPU0, bay: 1, port: 8, mode: 1xFourHundredGigE}
  - {enable: true, location: 0/0/CPU0, bay: 1, port: 12, mode: 1xFourHundredGigE}

static_routes:
  - {enable: False}

route_reflectors:
  - {ip: 1.1.1.50}
  - {ip: 1.1.1.51}

sr_pce:
  - {ip: 1.1.1.50, precedence: 1}
  - {ip: 1.1.1.51, precedence: 2}

mpls_te_tunnels:
  - {enable: false}

sr_policy:
  - { enable: false }
