id: 22
os: iosxr
napalm_driver: iosxr_netconf
xr_7: false
management_int: 0/RP0/CPU0/0
management_ip: 198.18.200.22
management_prefix: /24
management_gw: 198.18.200.1
max_sid_depth: 6
asn: 65000
bgp_rrc: false
bgp_rr: false

#enable LDP
mpls_ldp: false
ldp_over_mplste: false

#enable rsvp
mpls_rsvp: false

# Enable SR
sr: true
mpls_te: false

isis_instances:
  - {name: RTP_LAB, id: 1, sr: true, tilfa: true}

optics:
  - {enable: false}

network_interfaces:
  - {name: HundredGigE0/0/1/0, descr: "RBB.8201.100 HundredGigE0/0/0/35", isis_inst: RTP_LAB, color: RED, te_metric: 120, ipv4: 10.22.100.0, mask: 255.255.255.254, ipv6: '10:22:100:0/127', mtu: 9192}
  - {name: HundredGigE0/0/1/1, descr: "RBB.8201.101 HundredGigE0/0/0/35", isis_inst: RTP_LAB, color: RED, te_metric: 120, ipv4: 10.22.101.0, mask: 255.255.255.254, ipv6: '10:22:101:0/127', mtu: 9192}
  - {name: HundredGigE0/0/2/0, descr: "RBB.NCS5504.23 HundredGigE0/0/2/0", isis_inst: RTP_LAB, color: RED, te_metric: 120, ipv4: 10.22.23.0, mask: 255.255.255.254, ipv6: '10:22:23:0/127', mtu: 9192}
  - {name: HundredGigE0/1/0/0, descr: "RBB.NCS55A1.14 HundredGigE0/0/1/0", isis_inst: RTP_LAB, color: RED, te_metric: 120, ipv4: 10.14.22.1, mask: 255.255.255.254, ipv6: '10:14:22:1/127', mtu: 9192}
  - {name: HundredGigE0/1/0/1, descr: "RBB.NCS55A1.15 HundredGigE0/0/1/0", isis_inst: RTP_LAB, color: RED, te_metric: 120, ipv4: 10.15.22.1, mask: 255.255.255.254, ipv6: '10:15:22:1/127', mtu: 9192}
  - {name: HundredGigE0/1/0/2, descr: "RBB.NCS55A1.16 HundredGigE0/0/1/0", isis_inst: RTP_LAB, color: RED, te_metric: 120, ipv4: 10.16.22.1, mask: 255.255.255.254, ipv6: '10:16:22:1/127', mtu: 9192}

client_interfaces:
  - {enable: False}

bundle_members:
  - {enable: False}

breakout:
  - {enable: False}

static_routes:
  - {enable: False}

mpls_te_tunnels:
  - {enable: false }