id: 103
os: iosxr
napalm_driver: iosxr_netconf
xr_7: true
management_int: 0/RP0/CPU0/0
management_ip: 198.18.200.103
management_prefix: /24
management_gw: 198.18.200.1
max_sid_depth: 6
asn: 65000
bgp_rrc: true
bgp_rr: false

#enable LDP
mpls_ldp: false
ldp_over_mplste: false

#enable rsvp
mpls_rsvp: false

# Enable SR
sr: true
mpls_te: false

isis_instances:
  - {name: RTP_LAB, id: 1, sr: true, tilfa: true}

optics:
  - {enable: false}

network_interfaces:
  - {name: FourHundredGigE0/0/0/0, descr: "RBB.8201.102 FourHundredGigE0/0/0/0", isis_inst: RTP_LAB, color: RED, te_metric: 120, ipv4: 10.102.103.1, mask: 255.255.255.254, ipv6: '10:102:103:1/127', mtu: 9192}
  - {name: FourHundredGigE0/0/0/1, descr: "RBB.ASR9903.21 FourHundredGigE0/0/1/8", isis_inst: RTP_LAB, color: RED, te_metric: 120, ipv4: 10.21.103.1, mask: 255.255.255.254, ipv6: '10:21:103:1/127', mtu: 9192}
  - {name: FourHundredGigE0/0/0/2, descr: "RBB.8201.101 FourHundredGigE0/0/0/2", isis_inst: RTP_LAB, color: RED, te_metric: 120, ipv4: 10.101.103.1, mask: 255.255.255.254, ipv6: '10:101:103:1/127', mtu: 9192}
  - {name: FourHundredGigE0/0/0/3, descr: "RBB.8201.100 FourHundredGigE0/0/0/3", isis_inst: RTP_LAB, color: RED, te_metric: 120, ipv4: 10.100.103.1, mask: 255.255.255.254, ipv6: '10:100:103:1/127', mtu: 9192}
  - {name: HundredGigE0/0/0/35, descr: "RBB.NCS5504.24 HundredGigE0/0/1/0", isis_inst: RTP_LAB, color: RED, te_metric: 120, ipv4: 10.24.103.1, mask: 255.255.255.254, ipv6: '10:24:103:1/127', mtu: 9192}

client_interfaces:
  - {enable: False}

bundle_members:
  - {enable: False}

breakout:
  - {enable: False}

static_routes:
  - {enable: False}

route_reflectors:
  - {ip: 1.0.0.20}

mpls_te_tunnels:
  - {enable: false}

sr_policy:
  - {enable: false}