id: 20
os: iosxr
napalm_driver: iosxr_netconf
xr_7: false
management_int: 0/RP0/CPU0/0
management_ip: 198.18.200.20
management_prefix: /24
management_gw: 198.18.200.1
max_sid_depth: 6
asn: 65000
bgp_rrc: false
bgp_rr: false

#enable LDP
mpls_ldp: false
ldp_over_mplste: false

#enable rsvp
mpls_rsvp: false

# Enable SR
sr: true
mpls_te: false

isis_instances:
  - {name: RTP_LAB, id: 1, sr: true, tilfa: true}

optics:
  - {enable: false}

network_interfaces:
  - {name: HundredGigE0/0/0/0, descr: "RBB.NCS540.10 HundredGigE0/0/0/28", isis_inst: RTP_LAB, color: RED, te_metric: 120, ipv4: 10.10.20.1, mask: 255.255.255.254, ipv6: '10:10:20:1/127', mtu: 9192}
  - {name: FourHundredGigE0/0/1/0, descr: "RBB.ASR9903.21 FourHundredGigE0/0/1/0", isis_inst: RTP_LAB, color: RED, te_metric: 120, ipv4: 10.20.21.0, mask: 255.255.255.254, ipv6: '10:20:21:0/127', mtu: 9192}
  - {name: FourHundredGigE0/0/1/4, descr: "RBB.8201.102 FourHundredGigE0/0/0/3", isis_inst: RTP_LAB, color: RED, te_metric: 120, ipv4: 10.20.102.0, mask: 255.255.255.254, ipv6: '10:20:102:0/127', mtu: 9192}

client_interfaces:
  - {enable: False}

bundle_members:
  - {enable: False}

breakout:
  - {enable: true, location: 0/0/CPU0, bay: 1, port: 0, mode: 1xFourHundredGigE}
  - {enable: true, location: 0/0/CPU0, bay: 1, port: 4, mode: 1xFourHundredGigE}
  - {enable: true, location: 0/0/CPU0, bay: 1, port: 8, mode: 1xFourHundredGigE}
  - {enable: true, location: 0/0/CPU0, bay: 1, port: 12, mode: 1xFourHundredGigE}

static_routes:
  - {enable: False}

mpls_te_tunnels:
  - {enable: false}

