id: 11
os: iosxr
napalm_driver: iosxr_netconf
xr_7: true
management_int: 0/RP0/CPU0/0
management_ip: 198.18.200.11
management_prefix: /24
max_sid_depth: 6
asn: 65000
bgp_rrc: true
bgp_rr: false

isis_instances:
  - {name: RTP_LAB, id: 1, sr: true, tilfa: true}

optics:
  - {enable: false}

network_interfaces:
  - {name: HundredGigE0/0/0/28, descr: "RBB.NCS540.12 HundredGigE0/0/0/28", vlan: 0, unnumbered: true, isis_inst: RTP_LAB, color: RED, igp_metric: 200, te_metric: 120, ipv4: 10.11.12.0, mask: 255.255.255.254, ipv6: '10:11:12:0/127', mtu: 9192}
  - {name: HundredGigE0/0/0/29, descr: "RBB.NCS540.10 HundredGigE0/0/0/29", vlan: 0, unnumbered: true, isis_inst: RTP_LAB, color: BLUE, igp_metric: 200, te_metric: 120, ipv4: 10.10.11.1, mask: 255.255.255.254, ipv6: '10:10:11:1/127', mtu: 9192}

client_interfaces:
  - {enable: False}

bundle_members:
  - {enable: False}

breakout:
  - {enable: False}

static_routes:
  - {enable: False}

route_reflectors:
  - {ip: 1.1.1.50}
  - {ip: 1.1.1.51}

sr_pce:
  - {ip: 1.1.1.50, precedence: 1}
  - {ip: 1.1.1.51, precedence: 2}

mpls_te_tunnels:
  - {enable: false }

sr_policy:
  - { enable: false }
#  - { enable: true, name: RED, color: 1, endpoint: 1.1.1.20, sl: spine1-leaf2 }
#  - { enable: true, name: BLUE, color: 2, endpoint: 1.1.1.21, sl: spine2-leaf2 }