id: 24
os: iosxr
napalm_driver: iosxr_netconf
xr_7: false
management_int: 0/RP0/CPU0/0
management_ip: 198.18.200.24
management_prefix: /24
max_sid_depth: 6
asn: 65000
bgp_rrc: true
bgp_rr: false

isis_instances:
  - {name: RTP_LAB, id: 1, sr: true, tilfa: true}

optics:
  - {enable: true, controller: 0/0/1/2, descr: "CFP2 DWDM - MD48-ODDE - RBB.NCS5504.23 Optics 0/0/1/2 ", frequency: 19610, speed: 200G, mod: 16qam, fec: 15sdfec}
  - {enable: true, controller: 0/0/2/2, descr: "CFP2 DWDM - MD48-ODDE - RBB.NCS55A2.25 Optics 0/0/1/2 ", frequency: 19600, speed: 200G, mod: 16qam, fec: 15sdfec}

network_interfaces:
  - {name: HundredGigE0/0/1/0, descr: "RBB.8201.103 HundredGigE0/0/0/35", vlan: 0, isis_inst: RTP_LAB, color: RED, igp_metric: 200, te_metric: 120, ipv4: 10.24.103.0, mask: 255.255.255.254, ipv6: '10:23:103:0/127', mtu: 9192}
  - {name: HundredGigE0/0/1/1, descr: "RBB.8201.102 HundredGigE0/0/0/35", vlan: 0, isis_inst: RTP_LAB, color: RED, igp_metric: 200, te_metric: 120, ipv4: 10.24.102.0, mask: 255.255.255.254, ipv6: '10:23:102:0/127', mtu: 9192}
  - {name: HundredGigE0/1/0/0, descr: "RBB.NCS55A2.26 HundredGigE0/0/1/0", vlan: 0, isis_inst: RTP_LAB, color: RED, igp_metric: 200, te_metric: 120, ipv4: 10.24.26.0, mask: 255.255.255.254, ipv6: '10:24:26:0/127', mtu: 9192}
  - {name: HundredGigE0/0/2/0, descr: "RBB.ASR9903.21 HundredGigE0/0/0/1", vlan: 0, isis_inst: RTP_LAB, color: RED, igp_metric: 200, te_metric: 120, ipv4: 10.21.24.1, mask: 255.255.255.254, ipv6: '10:21:24:1/127', mtu: 9192}
  - {name: Bundle-Ether10, descr: "DWDM 2x100G Bundle to RBB.NCS5504.23", vlan: 0, isis_inst: RTP_LAB, color: RED, igp_metric: 100, te_metric: 120, ipv4: 10.23.24.1, mask: 255.255.255.254, ipv6: '10:23:24:1/127', mtu: 9192}
  - {name: Bundle-Ether20, descr: "DWDM 2x100G Bundle to RBB.NCS55A2.25", vlan: 0, isis_inst: RTP_LAB, color: RED, igp_metric: 100, te_metric: 120, ipv4: 10.24.25.0, mask: 255.255.255.254, ipv6: '10:24:25:0/127', mtu: 9192}

client_interfaces:
  - {enable: False}

bundle_members:
  - {enable: true, id: 10, descr: "DWDM 2x100G Bundle to RBB.NCS5504.23", member: HundredGigE0/0/1/2/0}
  - {enable: true, id: 10, descr: "DWDM 2x100G Bundle to RBB.NCS5504.23", member: HundredGigE0/0/1/2/1}
  - {enable: true, id: 20, descr: "DWDM 2x100G Bundle to RBB.NCS55A2.25", member: HundredGigE0/0/2/2/0}
  - {enable: true, id: 20, descr: "DWDM 2x100G Bundle to RBB.NCS55A2.25", member: HundredGigE0/0/2/2/1}

breakout:
  - {enable: False}

static_routes:
  - {enable: False}

route_reflectors:
  - {ip: 1.1.1.50}
  - {ip: 1.1.1.51}

sr_pce:
  - {ip: 1.1.1.50, precedence: 1}
  - {ip: 1.1.1.51, precedence: 2}

mpls_te_tunnels:
  - {enable: false }

sr_policy:
  - { enable: false }