id: 53
os: iosxr
napalm_driver: iosxr_netconf
xr_7: false
management_int: 0/RP0/CPU0/0
management_ip: 198.18.200.53
management_prefix: /24
max_sid_depth: 6
asn: 65000
bgp_rrc: false
bgp_rr: true

isis_instances:
  - {name: RTP_LAB, id: 1, sr: true, tilfa: true}

optics:
  - {enable: false}

network_interfaces:
  - {name: GigabitEthernet0/0/0/0.2001, descr: "RBB.NCS5504.22 HundredGigE0/1/0/35.2001", vlan: 2001, unnumbered: false, isis_inst: RTP_LAB, color: RED, igp_metric: 2000, te_metric: 120, ipv4: 10.22.53.1, mask: 255.255.255.254, ipv6: '10:22:53:1/127', mtu: 9192}
  - {name: GigabitEthernet0/0/0/0.2003, descr: "RBB.NCS5504.23 HundredGigE0/1/0/35.2003", vlan: 2003, unnumbered: false, isis_inst: RTP_LAB, color: RED, igp_metric: 2000, te_metric: 120, ipv4: 10.23.53.1, mask: 255.255.255.254, ipv6: '10:23:53:1/127', mtu: 9192}
  - {name: GigabitEthernet0/0/0/2.1002, descr: "RBB.vRR-SR-PCE.50 GigabitEthernet0/0/0/2.1002", vlan: 1002, unnumbered: false, isis_inst: RTP_LAB, color: RED, igp_metric: 2000, te_metric: 120, ipv4: 10.50.53.1, mask: 255.255.255.254, ipv6: '10:50:53:1/127', mtu: 9192}
  - {name: GigabitEthernet0/0/0/2.1004, descr: "RBB.vRR-SR-PCE.51 GigabitEthernet0/0/0/2.1004", vlan: 1004, unnumbered: false, isis_inst: RTP_LAB, color: RED, igp_metric: 2000, te_metric: 120, ipv4: 10.51.53.1, mask: 255.255.255.254, ipv6: '10:51:53:1/127', mtu: 9192}
  - {name: GigabitEthernet0/0/0/2.1005, descr: "RBB.vRR-SR-PCE.52 GigabitEthernet0/0/0/2.1005", vlan: 1005, unnumbered: false, isis_inst: RTP_LAB, color: RED, igp_metric: 2000, te_metric: 120, ipv4: 10.52.53.1, mask: 255.255.255.254, ipv6: '10:52:53:1/127', mtu: 9192}

client_interfaces:
  - {enable: False}

bundle_members:
  - {enable: False}

breakout:
  - {enable: False}

static_routes:
  - {enable: False}

route_reflector_clients:
  - {ip: 1.1.1.14}
  - {ip: 1.1.1.15}
  - {ip: 1.1.1.16}
  - {ip: 1.1.1.22}
  - {ip: 1.1.1.23}
  - {ip: 1.1.1.25}

route_reflector_peers:
  - {ip: 1.1.1.50}
  - {ip: 1.1.1.51}
  - {ip: 1.1.1.52}

pce_peers:
  - {ip: 1.1.1.50}
  - {ip: 1.1.1.51}
  - {ip: 1.1.1.52}

pce_sibling: 1.1.1.52
