id: 20
os: iosxr
xr_64: true
management_int: 0/RP0/CPU0/0
management_ip: 198.18.200.20
management_prefix: /24
management_gw: 198.18.200.1
max_sid_depth: 6
asn: 65000
bgp_rrc: false
bgp_rr: false

#enable LDP
mpls_ldp: false
ldp_over_mplste: false

#enable rsvp
mpls_rsvp: false

# Enable SR
sr: true
mpls_te: false

isis_instances:
  - {name: RTP_LAB, id: 1, sr: true, tilfa: true}

optics:
  - {enable: false}

network_interfaces:
  - {name: GigabitEthernet0/0/0/0, descr: "GigabitEthernet0/0/0/0.asbr2", isis_inst: RTP_LAB, color: RED, te_metric: 120, ipv4: 10.21.22.0, mask: 255.255.255.254, ipv6: '10:21:22::0/127', mtu: 9192}
  - {name: GigabitEthernet0/0/0/2, descr: "GigabitEthernet0/0/0/2.asbr2", isis_inst: RTP_LAB, color: RED, te_metric: 120, ipv4: 10.21.22.2, mask: 255.255.255.254, ipv6: '10:21:22::2/127', mtu: 9192}
  - {name: GigabitEthernet0/0/0/3, descr: "GigabitEthernet0/0/0/3.spine1", isis_inst: RTP_LAB, color: RED, te_metric: 120, ipv4: 10.11.21.1, mask: 255.255.255.254, ipv6: '10:11:21::1/127', mtu: 9192}
  - {name: GigabitEthernet0/0/0/4, descr: "GigabitEthernet0/0/0/4.spine3", isis_inst: RTP_LAB, color: RED, te_metric: 120, ipv4: 10.13.21.1, mask: 255.255.255.254, ipv6: '10:13:21::1/127', mtu: 9192}
  - {name: GigabitEthernet0/0/0/5, descr: "GigabitEthernet0/0/0/5.spine2", isis_inst: RTP_LAB, color: RED, te_metric: 120, ipv4: 10.12.21.1, mask: 255.255.255.254, ipv6: '10:12:21::1/127', mtu: 9192}
  - {name: GigabitEthernet0/0/0/6, descr: "GigabitEthernet0/0/0/6.spine4", isis_inst: RTP_LAB, color: RED, te_metric: 120, ipv4: 10.14.21.1, mask: 255.255.255.254, ipv6: '10:14:21::1/127', mtu: 9192}

client_interfaces:
  - {enable: False}

bundle_members:
  - {enable: False}

breakout:
  - {enable: False}

static_routes:
  - {enable: False}

mpls_te_tunnels:
  - {enable: false}

