!
snmp-server host {{ epnm_server }} traps version 2c cisco123
snmp-server community cisco RW
snmp-server traps rf
snmp-server traps bfd
snmp-server traps ntp
snmp-server traps copy-complete
snmp-server traps snmp linkup
snmp-server traps snmp linkdown
snmp-server traps snmp coldstart
snmp-server traps snmp warmstart
snmp-server traps snmp authentication
snmp-server traps flash removal
snmp-server traps flash insertion
snmp-server traps power
snmp-server traps config
snmp-server traps entity
snmp-server traps selective-vrf-download role-change
snmp-server traps syslog
snmp-server traps system
snmp-server traps frequency synchronization
snmp-server traps bridgemib
snmp-server traps addrpool low
snmp-server traps addrpool high
snmp-server traps cisco-entity-ext
snmp-server traps entity-state operstatus
snmp-server traps entity-state switchover
snmp-server traps entity-redundancy all
snmp-server traps entity-redundancy status
snmp-server traps entity-redundancy switchover
!