{% for service in services.evpnvpws %}
l2vpn
 xconnect group {{service.type}}
  p2p {{id}}to{{service.DestNode}}
   description CID {{service.CircuitID}}
{% for interface in interface_list %}
{% if ServiceInterfaces[interface] is defined and ServiceInterfaces[interface]['vpnID'] == service.vpnID %}
{% if ServiceInterfaces[interface]['VLAN'] == 'untagged' %}
   interface {{interface}}
{% else%}
   interface {{interface}}.{{ServiceInterfaces[interface]['VLAN']}}
{% endif %}
{% endif %}
{% endfor %}
   neighbor evpn evi {{service.vpnID}} target {{service.DestAC}} source {{service.SourceAC}}
{% if service.flowLabel == true %}
evpn
 evi {{service.vpnID}}
  load-balancing
   flow-label static
{% endif %}
{% endfor %}